<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h4>Data</h4>

      <h3>TODO</h3>
      <p>
        This component displays data collected by the project;
        <br />
        that is, where & when is the iOS shortcut being used).
      </p>
      <p>Start with:</p>
      <ol>
        <li>list all registered users;</li>
        <li>list activity of each user (usages), and;</li>
        <li>convert to intarctive map overlaid with usages.</li>
      </ol>

      <br />

      <strong>Under contruction, check back soon!</strong>
    </div>
  </div>
</div>
