<div class="container-fluid">
  <div class="row justify-content-center align-items-center row-odd">
    <div class="col-3">
      <h1>Data</h1>
    </div>
  </div>

  <div class="row row-even justify-content-center align-items-center">
    <div class="col-7">
      <h3>TODO</h3>
      This component displays data collected by the project, namely, where &
      when is the iOS shortcut being used.
      <br />
      Build the data display in the following steps, incrementally adding
      functionality:
      <ol>
        <li>List all registered users.</li>
        <li>List activity of each user (usages).</li>
        <li>Convert to intarctive map overlaid with usages.</li>
      </ol>
      <br />
    </div>
  </div>
  <div class="row row-odd justify-content-center align-items-center">
    <div class="col-4">
      <h1>UNDER CONSTRUCTION, CHECK BACK SOON!</h1>
    </div>
  </div>
  <div class="row row-even"></div>
</div>
