<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-6">
      <h1>The iWitness Project</h1>

      <blockquote class="blockquote">
        <p class="mb-0">
          Developing mobile tech solutions to ensure fair and accountable
          policing.
        </p>
      </blockquote>
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-6">
      <h2>Mission statement</h2>
      <h3>TODO: add links to references</h3>
      <br />
      <p>Surveilance is a weapon as old as politics.</p>
      <p>
        From the Gestapo to GCHQ, those in power have always used covert
        observation to suppress dissent and maintain power.
      </p>
      <p>
        Since the dawn of the 21<sup>st</sup> Century, thanks to the rampant
        growth of the tech industry, digital technology has crept into every
        aspect of our lives.
      </p>
      <p>
        For profit and for power, the corporate and state interests behind this
        technology have made it increasingly difficult to escape the
        ever-present eyes watching over us all.
      </p>
    </div>

    <!-- Force next columns to break to new line -->
    <div class="w-100"></div>

    <div class="col-5">
      <h3>Power</h3>
      <p>
        CCTV and number-plate recognition already dominate our urban centres,
        while facial recognition without consent of those recorded is now used
        in public spaces.
      </p>
      <p>
        These methods of social control are used heavily in areas with ethnic
        minority and migrant populations, under the guise of
        <q>maintaining law and order</q>.
      </p>
      <p>
        The over-policing of marginalised groups entrenches institutional racism
        and increases social inequality, <strong>especially</strong> when
        so-called AI methods facial recognition and algorithmic profiling are
        deployed.
      </p>
      <p>
        It has been shown that AI tends to reflect the biases implicit in it's
        creators, expressed via the selection of training data, resulting in
        black-box algorithms making life-or-death decisions with the same
        prejudices as human operators but without any of the accountability.
      </p>
      <p>
        In cities like London with dense CCTV coverage and reliance on cashless
        transactions (especially on public transport), the state is free to
        scrutinise all aspects of everyday life with a complete lack of
        oversight.
      </p>
    </div>

    <div class="col-5">
      <h3>Profit</h3>
      <p>
        Tech giants including Google and Facebook track their users across the
        internet, observing and recording each minute detail of online
        behaviour.
      </p>
      <p>
        The business model of companies in the surveillance capitalism sector
        depends upon commodification of this personal data, for sale to the
        highest bidder; this may be
      </p>
      <ul>
        <li>commercial entities using tracking advertising;</li>
        <li>financial firms making decisions on credit-worthiness, and;</li>
        <li>
          political groups directing targeted campaigns of (mis)information.
        </li>
      </ul>
      <p>
        Governments commonly demand and receive access to collected personal
        data, adding another layer of continuous monitoring to our lives in the
        name of national security.
      </p>
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-3">
      <h2>Let's turn the tables.</h2>
    </div>
  </div>
</div>
