<div class="container-fluid">
  <div class="row justify-content-center align-items-center row-odd">
    <div class="col-6">
      <h1>The iWitness Project</h1>
      Creating software to answer the question:
      <blockquote class="blockquote">
        <p class="mb-0">How fair and accountable are our police?</p>
      </blockquote>

      <h2>TODO</h2>
      Squeeze in a couple of rows after this one, containing:
      <ul>
        <li>
          a *very brief* overview of what the project is (SOS messaging, video
          upload, location sharing), and;
        </li>
        <li>links to /register and /faq.</li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center align-items-center row-even">
    <div class="col-9">
      <div class="text-center">
        <h2>Project motivation</h2>
      </div>
      <br />
      <p>
        <strong>Surveilance is a weapon as old as politics.</strong>
        <br />
        From the Gestapo to GCHQ, those in power have always used covert means
        to suppress dissent and maintain power.
        <br />
        Since the dawn of the 21<sup>st</sup> Century, the rampant growth of the
        tech industry has driven digital technology into every aspect of our
        lives.
        <br />
        For profit and for power, corporate and state interests make it ever
        harder to escape the ever-present eyes watching us all.
      </p>
      <br />
      <h3>Who watches the watchmen?</h3>
    </div>
  </div>

  <div class="row justify-content-center row-odd pad-top">
    <div class="col-5">
      <h3>Power</h3>
      <p>
        CCTV and automatic number-plate recognition already dominate our urban
        centres, while facial recognition without consent of those recorded is
        becoming commonplace in public spaces.
      </p>
      <p>
        While it has been claimed that such methods are heaviest used in areas
        with high crime rates, it appears in actuality they are most often used
        against low-income populations of ethnic minortity and migrant
        background as a method of social control, as opposed to the purpose of
        <q>maintaining law and order</q>.
      </p>
      <p>
        Through the over-policing of marginalised groups, our institutions of
        law enforcement like the police and border control continue to entrench
        systemic racism and perpetuate social inequality; this is
        <strong>especially</strong> when so-called 'AI' methods are deployed.
      </p>
      <p>
        It has been shown that AI software used by law enforcement (including
        facial recognition and algorithmic profiling) are guilty of reflecting
        the implicit biases of those who created it; this results in black-box
        algorithms making life-or-death decisions with the same prejudices as
        human operators but without any of the accountability.
      </p>
    </div>

    <div class="col-5">
      <h3>Profit</h3>
      <p>
        Tech giants like Google and Facebook track their users across the
        internet, observing and recording each and every minute detail of online
        behaviour, often without the user's awareness or consent.
      </p>
      <p>
        Collected data is analysed by such 'data-brokers' in order to estimate
        the personal qualities of each user: from restraunt preferences to
        political views, fitness level to income level, even the likelyhood of
        pregency.
      </p>
      <p>
        Under surveillance capitalism the business model of these companies
        depends upon commodification of this personal data, up for sale to
        buyers including advertisers, credit agencies, political groups, and
        national governments.
      </p>
      Each buyer hopes to further their agenda using insights gleaned through
      analysis of your data:
      <ul>
        <li>
          a recruiter chooses whether or not to advertise a high-paying job to
          you, on the basis of your gender;
        </li>
        <li>
          your health insurer might decide to increase your premium because of
          information about your lifestyle, and;
        </li>
        <li>
          political groups can target you with disinformation, and even try to
          dissuade you from voting.
        </li>
      </ul>
    </div>

    <div class="col-9 text-left">
      <h4>Sources</h4>
      <a href="http://www.socialcooling.com/">Social cooling</a>
      <br />
      <a
        href="https://fra.europa.eu/en/publication/2010/towards-more-effective-policing-understanding-and-preventing-discriminatory-ethnic"
        >Understanding and preventing discriminatory ethnic profiling [EU Agency
        for Fundamental Rights]</a
      >
    </div>
  </div>

  <div class="row row-even justify-content-center align-items-center">
    <div class="col-5">
      <div class="text-center"><h2>Nobody is watching the watchmen.</h2></div>
      <br />
      <p>
        We are now subject to ubiquitous digital surveilance in all aspects of
        our lives.
      </p>
      <p>
        At the same time, there is a shocking lack of oversight & accountability
        for those in power.
      </p>
    </div>
  </div>

  <div class="row justify-content-center align-items-center row-odd">
    <div class="col-9">
      <div class="text-center">
        <h2>Together we can flip the tables on the police state.</h2>
      </div>
      <br />
      <h3>TODO</h3>
      <p>
        Now we have a good explanation of why surveilance is everywhere and you
        should be mad, we just need to bring it back to the question:
        <br />
        <strong>'Why should cool & sexy people use our product?'</strong>
      </p>
      <br />
      <ul>
        <li>
          We aim to create (the first?) automated system for monitoring
          interaction between law enforcement and society, fully independent of
          the state, providing identities of those officers who engage in unjust
          and illegal conduct along with documentary evidence thereof (video,
          audio, ...).
        </li>
        <li>
          Ethnic profiling illegal here, but data collection is incomplete: of
          all European countries, only the UK collects ethnicity data relating
          to ethnic profiling (that is, on rates of stop-and-search).
        </li>
        <li>
          Such data as exists is flawed in it's collection: while the UK
          monitors stop-and-search by ethnicity, no such public data is released
          for stop-and-search, border control, etc; additionally, data
          collection may be dependent upon collection by law enforcement
          officers and as such not be completely reliable or unbiased.
        </li>
        <li>
          Users have the oppourtunity to contribute to first Europe-wide study
          on ethnic profiling, hopefully creating a valuable resource for
          researchers and activitsts; ideally we need a broad user base which is
          fully representative of the range of demographic groups in society, in
          order to generate useful statistcs.
        </li>
      </ul>

      <h4>Also</h4>
      <ul>
        <li>Add link to /register (and /terms, /faq?)</li>
        <li>Set animated GIF of some Judo shit as background.</li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center align-items-center row-even">
    <div class="col-5">
      <h2>TODO</h2>
      <p>Describe mission statement, with key goals.</p>
      <br />
      <h3>1. Support the public during interaction with law enforcement.</h3>
      Provide tools with which the user can:
      <ul>
        <li>gather evidence;</li>
        <li>stay safe using SOS messaging and location sharing, and;</li>
        <li>quickly access relevant legal guidance.</li>
      </ul>
      <br />
      <h3>2. Collect accurate, reliable data on ethnic profiling in EU.</h3>
      <br />
      <h3>3. Use continuous feedback to improve and extend our services.</h3>
    </div>
  </div>

  <div class="row justify-content-center align-items-center row-odd"></div>
</div>
