<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h4>Mission statement</h4>
      <p>
        Since the beginning of the 21st century, Western governments and
        corporations have normalised the ubiquitous surveilance of their own
        law-abiding populations, motivated by financial gain and social control.
      </p>
      <p>
        CCTV and number-plate recognition already dominate our urban centres,
        while facial recognition without consent is creeping into public spaces.
        Such technology is used heavily in areas with ethnic minority and
        migrant populations, under the guise of tackling crime. The
        over-policing of marginalised groups only entrenches social inequality,
        especially when such tactics depend on so called `artificial
        intelligence` which has been shown to reflect the biases of (usually
        white) software developers. In cities like London, with both dense CCTV
        coverage and digital-only ticketing for public transport, it is becoming
        rapidly impossible to avoid continuous tracking by the aparatus of an
        omnipresent state.
      </p>
      <p>
        In the digital world, companies like Google and Facebook track each user
        across the internet, observing and recording every minute detail of
        online behaviour. This data is collected into a digital profile: a
        comprehensive map of an individual's innermost thoughts and desires,
        assembled without their knowlege or approval, for sale to the highest
        bidder. Buyers include political campaign groups who direct targeted
        messaging to spread disinformation and propaghanda on a massive scale.
        States also exploit these enourmous corporate data caches, with
        indescriminate access to private data granted in the name of national
        security.
      </p>

      <p><strong>Let's turn the tables.</strong></p>
    </div>
  </div>
</div>
